@import "@fontsource-variable/bitter";
@import "@fontsource/lato";
@import "tailwindcss";
@plugin "daisyui" {
    themes: SCHRIFT --default;
}

@theme {
    --font-bitter: "Bitter", serif;
    --font-lato: "Lato", sans-serif;
}

@plugin "daisyui/theme" {
    name: "SCHRIFT";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(93% 0 0);
    --color-base-300: oklch(89% 0 0);
    --color-base-content: oklch(20% 0 0);
    --color-primary: oklch(70% 0.14 182.503);
    --color-primary-content: oklch(98% 0.014 180.72);
    --color-secondary: oklch(0% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(76% 0.233 130.85);
    --color-accent-content: oklch(98% 0.031 120.757);
    --color-neutral: oklch(43% 0 0);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(78% 0.154 211.53);
    --color-info-content: oklch(30% 0.056 229.695);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(75% 0.183 55.934);
    --color-warning-content: oklch(26% 0.079 36.259);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

body {
    font-family: var(--font-lato);
}
